<div
  [ngClass]="containerClasses()"
  [attr.data-allow-multiple]="multiselectable() ? '' : null"
>
  <ng-container *ngFor="let item of items(); let i = index">

    <h4 class="usa-accordion__heading">
      <button
        type="button"
        class="usa-accordion__button"
        [id]="buttonId(i)"
        [attr.aria-expanded]="isExpanded(i) ? 'true' : 'false'"
        [attr.aria-controls]="contentId(i)"
        (click)="togglePanel(i)"
      >
        {{ item.heading }}
      </button>
    </h4>

    <div
      [id]="contentId(i)"
      class="usa-accordion__content usa-prose"
      role="region"
      [attr.aria-labelledby]="buttonId(i)"
      [hidden]="!isExpanded(i)"
    >
      <div [innerHTML]="item.content"></div>
    </div>

  </ng-container>
</div>