@if (!asAList()) {
  <ng-container *ngTemplateOutlet="cardCreator"></ng-container>
} @else {
  <li class="usa-card" [ngClass]="gridFormat()">
    <ng-container *ngTemplateOutlet="cardCreator"></ng-container>
  </li>
}

<ng-template #headerTemplate>
  <div class="usa-card__header">
    <h4 class="usa-card__heading">
      <ng-content select="[card-header]"></ng-content>
    </h4>
  </div>
</ng-template>
<ng-template #mediaTemplate>
  <div class="usa-card__img">
    <ng-content select="[card-media]"></ng-content>
  </div>
</ng-template>
<ng-template #bodyTemplate>
  <div class="usa-card__body">
    <ng-content select="[card-body]"></ng-content>
  </div>
</ng-template>
<ng-template #footerTemplate>
  <div class="usa-card__footer">
    <ng-content select="[card-footer]"></ng-content>
  </div>
</ng-template>

<ng-template #cardCreator>
  @switch (mediaCardType()) {
    @case ('MediaWHeader') {
      <ng-container>
        <div class="usa-card--header-first">
          <div class="usa-card__container">
            <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
            <div class="usa-card__media usa-card__media--exdent">
              <ng-container *ngTemplateOutlet="mediaTemplate"></ng-container>
            </div>
            <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
            <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
          </div>
        </div>
      </ng-container>
    }
    @case ('Inset') {
      <ng-container>
        <div class="usa-card__container">
          <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
          <div class="usa-card__media usa-card__media--inset">
            <ng-container *ngTemplateOutlet="mediaTemplate"></ng-container>
          </div>
          <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
          <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
        </div>
      </ng-container>
    }
    @case ('Exdent') {
      <ng-container>
        <div class="usa-card__container">
          <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
          <div class="usa-card__media usa-card__media--exdent">
            <ng-container *ngTemplateOutlet="mediaTemplate"></ng-container>
          </div>
          <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
          <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
        </div>
      </ng-container>
    }
    @case ('FlagDefault') {
      <ng-container>
        <div class="usa-card usa-card--flag flex-1">
          <div class="usa-card__container">
            <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
            <div class="usa-card__media">
              <ng-container *ngTemplateOutlet="mediaTemplate"></ng-container>
            </div>
            <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
            <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
          </div>
        </div>
      </ng-container>
    }
    @case ('FlagRightInset') {
      <ng-container>
        <div class="usa-card usa-card--flag flex-1 usa-card--media-right">
          <div class="usa-card__container">
            <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
            <div class="usa-card__media usa-card__media--inset">
              <ng-container *ngTemplateOutlet="mediaTemplate"></ng-container>
            </div>
            <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
            <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
          </div>
        </div>
      </ng-container>
    }
    @default {
      <ng-container>
        <div class="usa-card">
          <div class="usa-card__container">
            <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
            <div class="usa-card__media">
              <ng-container *ngTemplateOutlet="mediaTemplate"></ng-container>
            </div>
            <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
            <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
          </div>
        </div>
      </ng-container>
    }
  }
</ng-template>
