<label class="usa-label" [attr.for]="inputID()">{{ label() }}</label>
<!-- Single line text input -->
@if (type() == 'text') {
  <input
    class="usa-input"
    [ngClass]="inputClasses()"
    [id]="inputID()"
    [name]="inputID()"
    [required]="required()"
    [disabled]="disabled()"
    [attr.aria-disabled]="disabled()"
  />
}

<!-- Multi-line text input -->
@if (type() == 'textarea') {
  <textarea
    class="usa-textarea"
    [ngClass]="inputClasses()"
    [id]="inputID()"
    [name]="inputID()"
    [required]="required()"
    [disabled]="disabled()"
    [attr.aria-disabled]="disabled()"
  ></textarea>
}
