name: Component Build Test

on: 
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - labeled
jobs:
  build:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'uswds-component')
    container:
      image: node:20
    steps:
      - uses: actions/checkout@v3
      - run: npm ci
        working-directory: ngx-uswds-workspace
      - run: npx ng build ngx-uswds-lib
        working-directory: ngx-uswds-workspace
      
